@import "./normalize";
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,500');

$font-family__body: 'Montserrat', sans-serif;
$font-family__headers: 'Montserrat', sans-serif;
$text__color_light: #9E9E9E; /* Grey 500 */
$text__color: #616161; /* Grey 700 */
$text__color_dark: #424242; /* Grey 800 */
$text__color_accent: #EEEEEE; /* Grey 200 */

$font-weight-body: 300;
$font-weight-header: 500;
$font-weight-bold: 500;

/**
 * 1. HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/
 * 2. Prevent scroll on narrow devices
 */
html {
  color: $text__color; /* 1 */
  font-size: 1em; /* 1 */
  line-height: 1.4; /* 1 */
  overflow-x: hidden; /* 2 */
}
body {
  overflow-x: hidden; /* 2 */
  font-family: $font-family__body;
  font-weight: $font-weight-body;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


/* General
   ========================================================================== */
//p {
//  font-size: 1.2rem;
//  line-height: 1.6;
//}
//b, strong {
//  font-weight: $font-weight-bold;
//}
//
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

@mixin img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
@mixin links {
  color: $text__color_light;
  text-decoration: none;
  &:hover {
    color: $text__color;
  }
}
@mixin links-alt {
  color: $text__color;
  text-decoration: none;
  &:hover {
    color: $text__color_light;
  }
}
@mixin buttons {
  background-color: $text__color_accent;
  color: $text__color;
  &:hover {
    background-color: $text__color_light;
    color: $text__color_accent;
  }
}


@mixin center-and-crop {
  object-fit: cover;
}

@mixin img-circle {
  border-radius: 50%;
}


/* Main styles
   ========================================================================== */

/* Entire page container block */
.container {
  margin: 0 auto;
  padding: 25px;
  max-width: 818px /* 768 + 25 padding + 25 padding */;
  &__header {
  }
  &__nav {
  }
  &__main {
  }
  &__footer {
  }
}

/* Blocks for site-header, site-nav, site-main, and site-footer */
.site-header {
  padding-bottom: 50px;
  text-align: center;
  border-bottom: 3px solid $text__color_accent;

  &__title {
    font-family: $font-family__headers;
    &-link {
      display: inline-block;
      @include links-alt;
    }
    &-text {
      font-weight: $font-weight-body;
    }
  }
  &__tagline {
  }
}
.container__nav {
  text-align: center;
  //font-family: $font-family__headers;
  //font-size: 0.90em;
  //text-transform: uppercase;
  ul {
    border-bottom: 3px solid $text__color_accent;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  li {
    display: inline-block;
  }
  a {
    display: block;
    padding: 10px;
    @include links;
  }
}
.site-main {
  padding-top: 40px;
}
.site-footer {
  padding-top: 40px;
  border-top: 3px solid $text__color_accent;
  &__links-widget {
    padding-bottom: 20px;
  }
}
.subset-header {
  &__title {
    font-family: $font-family__headers;
    font-weight: $font-weight-body;
    font-size: 2em;
    padding-bottom: 40px;
    text-align: center;
  }
}


/* Blocks for post, post-meta, post-content, post-footer */
.post, .post_preview, .page, .page_preview {
  margin-bottom: 40px;
}
/* When there are no posts (on index or grouping page) ensure that element has padding below */
.empty {
  padding-bottom: 40px;
}
.post__post-header, .page__page-header {
}
.post__title, .page__title {
  font-family: $font-family__headers;
  font-weight: $font-weight-body;
  font-size: 2em;
  margin: 0;
}
.post__title-link, .page__title-link {
  @include links-alt;
}
.post__post-image, .page__page-image {
  font-size: 0; /* Remove the little space under */
  margin-bottom: 20px;
}
.post__post-img, .page__page-img {
  @include center-and-crop;
  height: 300px;
  width: 100%;
  border-radius: 4px;
}
.post__content, .page__content {
  margin: 20px 0 0 0;
}
.post__content p:last-of-type, .page__content p:last-of-type {
  margin-bottom: 0;
}
.post__footer, .page__footer {
  margin: 20px 0 0 0;
}
.post__read-more, .page__read-more {
  //background-color: $text__color_accent;
  text-decoration: none;
  padding: 10px;
  border-radius: 2px;
  text-transform: uppercase;
  display: inline-block;
  &_arrow {
    padding-left: 6px;
  }
  //@include links-alt;
  @include buttons;
}





.post-meta, .page-meta {
  &__category {
    @include links;
  }
}
.post-content, .page-content {
  line-height: 1.8em;
    &__img {
    @include img-responsive;
  }
  &__href {
    @include links;
    text-decoration: underline;
  }
}

.post-footer, .page-footer {
  line-height: 1.8em;
  &__category {

  }
  &__tags {

  }
  &__author-info {
    margin-top: 40px;
  }
  &__link {
    @include links;
  }
}
.author-info {
  &__photo {
    width: 100px;
    margin: 0 auto;
  }
  &__body {
  }
  &__name {
    text-align: center;
    font-size: 1.5em;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  &__bio {

  }
}
.avatar {
  //width: 100px;/ * Set via size parameter in call to getAvatar() */
  //height: 100px; /* Set via size parameter in call to getAvatar() */
  border-radius: 50%;
  position: relative;
  &__text {
    background-color: #777;
  }
  &__img {
    object-fit: cover;
  }
  &__text, &__img {
    //width: 100px; /* Set via size parameter in call to getAvatar() */
    //height: 100px; /* Set via size parameter in call to getAvatar() */
    border-radius: 50%;
    position: absolute;
    //line-height: 100px; /* Set via size parameter in call to getAvatar() */
    text-align: center;
    color: #FFF;
    //font-size: 50px; /* Set via size parameter divided by 2 in call to getAvatar() */
  }
}
/* If an image is present, hide the text (and background) since it will kind of show around the edge of the image. */
.avatar__img + .avatar__text {
  display: none;
}


//.site-sidebar {
//  &__links-widget {
//    padding: 20px 0 0;
//    &:first-child {
//      padding-top: 0;
//    }
//  }
//}
.links-widget {
  &__title {
    font-family: $font-family__headers;
    font-weight: 400;
    margin: 0;
    padding: 0 0 5px;
  }
  &__list {
    font-size: 0.9em;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  &__item {
    padding: 4px 0;
    text-indent: -1.0em;
    margin-left: 1.0em;
  }
  &__link {
    @include links-alt;
  }
}

/* ==============
    Main
   ============== */

//h1, h2, h3, h4, h5, h6 {
//  font-weight: $font-weight-header;
//  margin: 0;
//}
//
//.post-content {
//  font-family: $text__family_serif;
//}

/* ==============
    MOBILE: Main
   ============== */

/* ==========================================================================
   Media Queries
   ========================================================================== */
/* 768 width of main content plus 25 L/R padding is 818. So, >= 819 is anything bigger */
@media only screen and (min-width: 819px) {
  .links-widget { width: 25%; float: left; }
}



@media only screen and (min-width: 544px) {
  //.site-header {
  //  &__link_text {
  //    font-size: 2.50em;
  //  }
  //}
  //.subset-header {
  //  &__img {
  //    height: 250px;
  //  }
  //}
  //.post {
  //  &__post-img {
  //    height: 250px;
  //  }
  //}
  .author-info {
    &__photo {
      float: left;
    }
    &__body {
      margin-left: 130px;
    }
    &__name {
      text-align: left;
      padding-top: 5px;
      padding-bottom: 5px;
    }
    &__bio {

    }
  }
}

@media only screen and (min-width: 768px) {
  //.site-header {
  //  &__link_text {
  //    font-size: 2.75em;
  //  }
  //}
  //.site-sidebar {
  //  &__links-widget {
  //    padding: 30px 0 0 30px;
  //    &:first-child {
  //      padding-top: 40px;
  //    }
  //  }
  //}
  //.site-footer__content {
  //  margin-top: 40px;
  //}
}

@media only screen and (min-width: 992px) {
  //.site-header {
  //  &__link_text {
  //    font-size: 3.00em;
  //  }
  //}
  //.subset-header {
  //  &__img {
  //    height: 300px;
  //  }
  //}
  //.post {
  //  &__post-img {
  //    height: 300px;
  //  }
  //}
}

@media only screen and (min-width: 1200px) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */


ul.pagination {
  margin: 40px 0;
  padding: 0;
  text-align: center;
  li {
    display: inline-block;
    //font-size: 1.2rem;
    line-height: 34px;
    border-radius: 2px;
    text-align: center;
    background-color: $text__color_accent;
    a, span {
      padding: 6px 12px;
      text-decoration: none;
      color: $text__color;
    }
    /* Hover of pages (that are not disabled and not current page */
    &:hover:not(.disabled):not(.active) {
      background-color: $text__color_light;
      a {
        color: $text__color_accent;
      }
    }
    /* Disabled page */
    &.disabled {
      color: $text__color_light;
      cursor: not-allowed;
    }
    /* Active page */
    &.active {
      background-color: $text__color;
      a {
        color: $text__color_accent;
      }
    }


    // Normal pagination item
    //a, span {
    //  min-width: 0;
    //}
    // Disabled prev/next pagination item
    //&.disabled span {
    //  @extend .mdl-button, .mdl-button[disabled][disabled];
    //  min-width: 0;
    //}
    //&.active a {
    //  @extend .mdl-button--raised, .mdl-button--primary;
    //}
  }
}
