/*
 * Inspiration: http://bucketadmin.themebucket.net/index.html and http://coderthemes.com/adminox/default/index.html
 */

@import "./normalize";
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import "./variables";
@import "./mixins";
@import "./bs3-buttons";
@import "./bs3-forms";
@import "./bs3-input-groups";
@import "./bs3-grid";
@import "./bs3-pagination";
@import "./block-header";
@import "./block-sidebar";
@import "./block-action-bar";
@import "./block-panel";
@import "./block-modal";
@import "./block-tabbed";
@import "./block-progress";
@import "./block-table";
@import "./block-avatar";
@import "./block-pagination";
@import "./block-spinner";
@import "./vendor-growl";
@import "./scaffolding";
@import "./color-schemes";
@import "./z-index";

* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

body {
  background-color: $color__body-background;
  color: $color__body-text;
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

/* Not really sure if I want to mess with the font of inputs, textarea, etc. but these are all set by the browser. */
//button, input, optgroup, select, textarea {
button {
  font-family: 'Roboto', sans-serif;
}

/* Block: .content */
.content {
  padding: 15px;
  margin-top: $header-height + $action-bar-height;
  /* Modifier: .content_minimal */
  &_minimal {
    padding: 100px 15px;
    margin-top: 0;
  }
  /* Element: .content-wrapper */
  &-wrapper {
    max-width: 800px;
    margin: 0 auto;
    /* Modifier: .content-wrapper_minimal */
    &_minimal {
      max-width: 400px;
      margin: 0 auto;
    }
  }
}


/* Affixing action bar to 80px from top */
//.affix-actions {
//  /* Since the action bar becomes fixed, the content needs to take up that extra spacing with a top margin */
//  margin-top: $action-bar-height;
//  .action-bar {
//    position: fixed;
//    top: $header-height;
//    left: 0;
//    right: 0;
//  }
//}


/**
 * Custom styling for input group containing select input (interval settings)
 */
.input-group.input-group-interval {
  width: 100%;
  .form-control:not(:last-child) {
    border-right: none;
  }
  .input-group-addon {
    padding: 0;
    border: none;
    width: 125px;
  }
}


/**
 * File upload modal
 */
.image-modal .image-upload #drop {
  background-color: #F5F5F5;
  padding: 50px;
  border: 4px dashed #DDD;
  text-align: center;
  color: #777;
}
.image-modal .image-upload #drop .drop-text {
  font-size: 20px;
  font-weight: $weight-bold;
  margin-bottom: 15px;
}
.image-modal .image-upload #drop input {
  display: none;
}
.image-modal .image-upload ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.image-modal .image-upload ul li {
  padding: 10px 0 5px;
}
.image-modal .image-upload ul li .progress {
  margin-bottom: 0;
  height: 4px;
}
.image-modal .image-upload ul li p {
  margin: 0;
  /*overflow: hidden; !* Used to keep everything on one line *!*/
  /*white-space: nowrap; !* Used to keep everything on one line *!*/
  /*text-overflow: ellipsis; !* Used to keep everything on one line *!*/
  font-size: 16px;
}
.image-modal .image-upload ul li p span.filename {
}
.image-modal .image-upload ul li p span.message {
  float: right;
  font-variant: small-caps;
}

/* No selection color in case double clicking or other clicking "selects" images */
.image-modal .image-list ::selection {
  background: none;
}
.image-modal .image-list ::-moz-selection {
  background: none;
}

/* Errors and warnings should change text color  */
.image-modal .image-upload ul li.error p {
  color: $color__error;
}
.image-modal .image-upload ul li.warning p {
  color: $color__warning;
}
/* Control size and scrolling of image list */
.image-modal .image-list {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 200px;
}
/* Selectable images in modal should have similar styling to selected images in image library */
.image-modal .image-list .item {
  position: relative;
  float: left;
  margin: 2px;
}
.image-modal .image-list .item:hover {
  cursor: pointer;
}
.image-modal .image-list .item.selected:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-top: 25px solid #1E88E5;
  border-right: 25px solid transparent;
  width: 0;
}

/* Dropzone dragover */
.image-modal .image-upload #drop:hover, .image-modal .image-upload #drop.hover {
  background-color: #EAEAEA;
}
/* Keep each content section the same height */
/* Minimum height means that if the content stretches, the height can indeed grow (such as with image upload list) */
.image-modal .tabbed__content {
  min-height: 200px;
}



/*
 * Custom error message, typically used in modal windows (user invite, create tag/category  modal on page/post)
 */
.error-summary-custom {
  display: none;
  margin: 0;
}
.error-summary-custom p {
  margin: 0;
}


/* User update page */
/* Center the avatar image */
.user-update .avatar {
  margin: 0 auto;
}
/* Center the avatar selection buttons */
.user-update .field-user-profile_photo .image-preview-container {
  max-width: inherit;
  text-align: center;
}
/* No need for extra spacing below client list as it pushes the bottom of the panel too far down. */
/* TODO this can be deleted */
.user-update .auth-clients {
  margin-bottom: 0;
}
/* Extra spacing around auth client names */
.user-update .auth-clients td {
  padding: 5px 10px;
}
/* Right align auth client names */
.user-update .auth-clients td:first-child {
  text-align: right;
}
/*
 * Two-factor authentication
 */
.two-factor-setup__secret-code,
.two-factor-setup__backup-codes {
  font-family: "Courier New", Courier, monospace;
}




/*
 * The user edit page has custom javascript to handle the fact that the avatar/profile_photo combines a select image
 * input plus the standard getAvatar process.
 */
/* Hide the image that is normally part of the select image input */
.field-user-profile_photo .image-preview-img {
  display: none;
}



/*
 * Customizations for Markdown help
 */
.markdown-help-modal table {
  width: 100%;
}
.markdown-help-modal th, .markdown-help-modal td {
  padding: 10px 0;
  width: 50%;
  border-bottom: 1px solid #eee;
}
.markdown-help-modal tr:last-child td {
  border-bottom: none;
}
.markdown-help-modal img {
  height: 20px;
}
.markdown-help-modal .h1-example {
  font-size: 18px;
  font-weight: $weight-bold;
}
.markdown-help-modal .h2-example {
  font-size: 17px;
  font-weight: $weight-bold;
}
.markdown-help-modal .h3-example {
  font-size: 16px;
  font-weight: $weight-bold;
}
.markdown-help-modal blockquote {
  margin: 0;
  padding: 5px 10px;
}
.markdown-help-modal ul, .markdown-help-modal ol {
  margin-left: -25px;
  margin-bottom: 0;
}
.markdown-help-modal code, .markdown-help-modal pre {
  margin: 0;
  font-size: 90%;
  background-color: $color__body-background;
  border-radius: 3px;
}
.markdown-help-modal code {
  padding: 2px 4px;
}
.markdown-help-modal pre {
  padding: 16px;
}



/* Markdown editor on page/post edit page* /
/* Change min height before auto-grow */
.CodeMirror, .CodeMirror-scroll {
  min-height: 200px !important;
}
/* Remove rounded corners */
#page-form .editor-toolbar,
#post-form .editor-toolbar {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
#page-form .CodeMirror-wrap,
#post-form .CodeMirror-wrap {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
/* Set height of textarea so that when it is replaced with the editor the page doesn't shift heights */
.field-page-content .form-control,
.field-post-content .form-control {
  height: 266px;
}
/* Shrink the buttons just a tad so they stay on one line on a Nexus 5 (very abstract, I know) */
.field-page-content .editor-toolbar:before,
.field-post-content .editor-toolbar:before {
  margin-bottom: 5px;
}
.field-page-content .editor-toolbar a:before,
.field-post-content .editor-toolbar a:before {
  line-height: 28px;
}
.field-page-content .editor-toolbar a,
.field-post-content .editor-toolbar a {
  width: 28px;
  height: 28px;
}
/* Don't allow images to grow wider than the container */
.editor-preview img, .editor-preview-side img {
  width: 100%;
}



/* Settings, Administration, Interface */

/*
 * Set color scheme box to 1:1 aspect ratio, up to a given max
 * http://www.mademyday.de/css-height-equals-width-with-pure-css.html
*/
.color-scheme-selector {
  line-height: 0;
}

.color-scheme-selector__color {
  width: 5%; /* Using 5%, up to 20 colors can be added before needing to drop to 4% */
  max-width: 20px;
  position: relative;
  //height: 12px;
  margin: 0 1px 1px 0;
  display: inline-block;
  cursor: pointer;
}
/* Keep height equal to relative width */
.color-scheme-selector__color:before{
  content: "";
  display: block;
  padding-top: 100%;
}
/* Add a white border to active color (not the selected color, but actual active blog setting color) */
.color-scheme-selector__color_active {
  border: 2px white solid;
}





/**
 * Help Modal
 */
.help-modal {
  h2 {
    font-size: 18px;
    margin: 18px 0;
    &:first-child {
      margin-top: 0;
    }
  }
  h3 {
    font-size: 16px;
    margin: 16px 0;
  }
  h4 {
    font-size: 14px;
    margin: 14px 0;
  }
}



/**
 * Link modal
 */
/* Prevent grids from taking up too much room */
.link-modal .table__wrap {
  height: 150px;
}
/* And set an overall minimum height of the content to keep each tab consistent */
/* Minimum height means that if the content stretches, the height can indeed grow */
.link-modal .tabbed__content {
  min-height: 200px;
}
/* When rows are hovered, change background color and pointer */
.link-modal tr[data-title]:hover {
  background-color: $color__body-background;
  cursor: pointer;
}




/*
 * Site login, forgot password link
 */
.site-login .login-form .btn-login {
  margin-bottom: 15px;
}
.site-login .forgot-password {
  width: 100%;
  text-align: center;
}
.site-login .forgot-password a {
  line-height: 14px;
  display: inline-block;
  color: $color__body-text-accent;
  font-size: 12px;
  text-decoration: none;
  &:hover {
    color: $color__body-text;
  }
}
/*
 * Site login, AuthChoice Client links
 */
.site-login .auth-clients-wrapper {
  text-align: center;
}
.site-login .auth-clients .auth-link .auth-icon {
  display: inline-block;
  margin: 0 5px;
}


/* Multi-page wizard */
.wizard-page-container {
  .wizard-page {
    width: 100%;
    height: 100%;
    display: none;
    &.page-active {
      display: block;
    }
    .half-width {
      width: 50%;
      float: left;
      margin-bottom: 5px;
      &.half-width-left {
        padding-right: 5px;
      }
      &.half-width-right {
        padding-left: 5px;
      }
    }
  }
}


/*
 * Install page
 */
.site-install .wizard-page-container {
  height: 300px;
}





/*
 * Media queries for adjusting based on screen size
 */

@media screen and (min-width: $responsive-breakpoint) {
  .sidebar__content {
    /* Always show sidebar (it is normally left -$sidebar-width) */
    left: 0;
  }
  .content {
    /* Shift content to account for always-present sidebar */
    margin-left: $sidebar-width;
    &_minimal {
      margin-left: 0;
    }
  }

  .action-bar {
    left: $sidebar-width;
  }
  .affix-actions {
    .action-bar {
      /* Since .affix-actions is applied on mobile AND desktop, this forces the action bar to account for the always
       * present sidebar on desktop */
      left: $sidebar-width;
    }
  }
}



/* Color schemes */
@each $name, $color in $color-schemes {
  .color-scheme-selector__color_#{$name} { background-color: $color; }
}
