@import "variables";
/* 2017-05-13 WIP */

.panel {
  background-color: $color__panel-body-background;
  border: 1px solid $color__panel-border;
  //border-radius: 4px;
  //margin: 15px;
  margin-bottom: 15px;
  &__header {
    background-color: $color__panel-header-background;
    border-bottom: 1px solid $color__panel-border;
    //border-top-left-radius: 4px;
    //border-top-right-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    //text-transform: uppercase;
    height: $panel-header-height;
  }
  &__title {
    display: inline-block;
    padding: 15px;
    line-height: 20px;
  }
  &__actions {
    float: right;
    & .panel__action-minimize i {
      -webkit-transition: all $transition-duration $transition-timing-function;
      -moz-transition: all $transition-duration $transition-timing-function;
      -o-transition: all $transition-duration $transition-timing-function;
      transition: all $transition-duration $transition-timing-function;
    }
  }
  &__action {
    display: inline-block;
    padding: 15px;
    line-height: 20px;
    cursor: pointer;
    color: $color__body-text-accent;
  }
  &_minimized {
    & .panel__action-minimize i {
      -moz-transform: scaleY(-1);
      -o-transform: scaleY(-1);
      -webkit-transform: scaleY(-1);
      -ms-transform: scaleY(-1);
      transform: scaleY(-1);
      -ms-filter: "FlipV";
    }
  }
  &__body {
    color: $color__panel-body_text;
    /*
     * Using margin rather than padding ensures that first and last items within the panel that also have margins
     * will collapse nicely and won't have additional space above/below the item.
     */
    margin: 15px;
    p {
      margin-top: 0;
    }
  }
}
/* Custom styles for collapsable panels */
.panel_collapsable {
  /* On header hover, set cursor to pointer since the entire header is clickable for expanding/collapsing. */
  .panel__header:hover {
    cursor: pointer;
    /* Darken minimize icon as that is what will happen when the header is clicked.  */
    .panel__action-minimize {
      color: $color__body-text;
    }
  }
}
