/* 2017-05-16 WIP, needs variables for color and potentially sizing/spacing of elements */

/*
 * Inspired by http://code.stephenmorley.org/html-and-css/tabbed-panels/
 */
.tabbed {
  /* Format content to appear below tabs */
  float: left;
  width: 100%;
  /* Hide the radio button input */
  &__input {
    display: none;
  }
  /* Hide content of non-checked tabs */
  &__input:not(:checked) + &__tab > &__content {
    display: none;
  }
  /* Display tab labels in a row */
  &__header {
    float: left;
    border-bottom: 2px solid #FFFFFF;
  }
  /* Formatting of selected tab */
  &__input:checked + &__tab > &__header {
    border-bottom: 2px solid blue;
  }
  /* Formatting of hovered tab */
  &__input + &__tab > &__header:hover {
    border-bottom: 2px solid #ccc;
  }
  /* Adjust content so as to not be interrupted by tab labels */
  &__content {
    float: right;
    width: 100%;
    margin: 50px 0 0 -100%;
  }
  /* Style tab label */
  &__label {
    padding: 10px;
    cursor: pointer;
    display: block;
  }
  /* On modals where tabs should be hidden, hide the tabs and shift content up */
  &_hidden-tabs {
    .tabbed__header {
      display: none;
    }
    .tabbed__content {
      margin-top: 0;
    }
  }
}
