@import "./variables";
@import "./color-schemes";
/* 2017-05-13 Done */
/*
 * Notes
 *
 * Positioning .sidebar__list-item-link relative and .sidebar__list-item-link-icon absolute allows the the left padding
 * of 40px to be consistent for parent and child items (that don't have icons)
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0;
}

.sidebar__content {
  position: relative;
  height: 100%;
  left: -$sidebar-width;
  -webkit-transition: all $transition-duration $transition-timing-function;
  -moz-transition: all $transition-duration $transition-timing-function;
  -o-transition: all $transition-duration $transition-timing-function;
  transition: all $transition-duration $transition-timing-function;
  width: $sidebar-width;
  background-color: $color__sidebar-background;
}

.sidebar__state {
  display: none;
  &:checked {
    ~ .sidebar__content {
      left: 0;
    }
    ~ .sidebar__backdrop {
      right: 0;
      opacity: 1;
    }
  }
}

.sidebar__brand {
  height: $header-height;
  background-color: $color-scheme-default; /* Overridden by color-schemes */
}

//.sidebar__brand-logo {
//  float: left;
//  width: 50px;
//  height: $header-height;
//  img {
//    width: 32px;
//    padding: 24px 16px;
//  }
//}
.sidebar__brand-name {
  font-size: 18px;
  padding: 5px 15px;
  line-height: 1.4em;
  color: $color__sidebar-brand-text;
  background-color: rgba(0, 0, 0, 0.1);
}
.sidebar__brand-link {
  color: $color__sidebar-brand-text;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}


.sidebar__list {
  margin: 0;
  padding: 0;
  list-style: none;
  height: calc(100% - #{$header-height});
  overflow-y: auto;

}

.sidebar__list-item {
  $list-item: &; /* store list-item selector */
  position: relative;
}

.sidebar__list-item:hover > .sidebar__list-item-link,
.sidebar__list-item_expanded > .sidebar__list-item-link,
.sidebar__list-item.active > .sidebar__list-item-link,
.sidebar__list-item.active > .sidebar__list-item-link:active,
.sidebar__list-item.active > .sidebar__list-item-link:focus,
.sidebar__list-item.active > .sidebar__list-item-link:hover,
.sidebar__list-item.active > .sidebar__list-item-link:visited {
  background-color: $color__sidebar-background_active;
  color: $color__sidebar-text_active;
}

.sidebar__list-item_expandable {
  &:hover {
    cursor: pointer;
  }
}

.sidebar__list-item_expanded {
  .sidebar__list-item-expand-indicator {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

.sidebar__list-item-expand-indicator {
  position: absolute;
  top: 20px;
  right: 15px;
  font-size: 12px;
  -webkit-transition: all $transition-duration $transition-timing-function;
  -moz-transition: all $transition-duration $transition-timing-function;
  -o-transition: all $transition-duration $transition-timing-function;
  transition: all $transition-duration $transition-timing-function;
}

.sidebar__list-item-link {
  display: block;
  color: $color__sidebar-text;
  text-decoration: none;
  line-height: 20px;
  padding: 15px 15px 15px 40px;
  font-size: 14px;
  position: relative;
}

.sidebar__list-item-link-icon {
  width: 25px;
  text-align: left;
  position: absolute;
  top: 18px;
  left: 15px;
}

/*
 * Children that are not under and expanded parent should not be shown. Combining the below with some JavaScript in
 * admin.js ensures that expanded children are shown on page load (not after page load) and that all menus can slide
 * open and closed, regardless of whether or not they were open on page load or not.
 */
:not(.sidebar__list-item_expanded) > .sidebar__list_child {
  display: none;
}

.sidebar__backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  background: rgba(0, 0, 0, .5);
  transition: $transition-duration opacity $transition-timing-function;
}

/* Color schemes */
@each $name, $color in $color-schemes {
  .color-scheme__#{$name} {
    .sidebar__brand {
      background-color: $color;
    }
  }
}
