/*
 * Source: https://stephanwagner.me/only-css-loading-spinner
 */
@keyframes spinner {
  to {transform: rotate(360deg);}
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border-top: 2px solid #FFF;
  border-right: 2px solid transparent;
  animation: spinner .6s linear infinite;
  /*
   * Because buttons have padding, left: 50% had the icon too far right.
   * This brings it back to the left the 12px width of the left padding minus 1px border .
   */
  left: calc(50% - 11px);
}

