@import "./variables";
/* 2017-05-16 WIP */

/*
 * Inspired by http://codepen.io/akhbar/pen/oLqnu/
 */
.lightbox {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 0;
  padding: 0 20px;
  &__state {
    position: absolute;
    top: 0;
    left: -100vw;
    &:checked {
      ~ .lightbox__content {
        transform: none;
      }
      ~ .lightbox__backdrop {
        bottom: 0;
        opacity: 1;
        z-index: 1;
      }
    }
  }
  &__header-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px;
    cursor: pointer;
    color: #E0E0E0;
    &:hover {
      color: #9E9E9E;
    }
  }
  &__content {
    //display: flex;
    //flex-direction: column;
    //overflow: hidden;
    position: relative;
    z-index: 2;
    max-width: 600px;
    //max-height: 95vh;
    margin: 30px auto;
    //padding: 20px;
    background: #fff;
    transform: translateY(-200%);
    transition: $transition-duration transform ease-in-out;
    border: 1px solid rgba(0, 0, 0, .1);
  }
  &__header,
  &__footer {
    //display: flex;
    //flex-shrink: 0;
    //align-items: center;
    //.button:not(:first-child) {
    //  margin-left: auto;
    //}
  }
  &__header {
    padding: 15px;
    line-height: 20px;
    border-bottom: 1px solid #E0E0E0;
  }
  &__title {
    font-size: 18px;
  }
  &__footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #E0E0E0;
    & .btn {
      margin-right: 5px;
    }
  }
  &__main {
    //flex-grow: 1;
    overflow: auto;
    max-height: calc(100vh - 250px);
    padding: 15px;
  }
  &__backdrop {
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 100%;
    left: 0;
    opacity: 0;
    background: rgba(0, 0, 0, .5);
    transition: $transition-duration opacity $transition-timing-function;
  }
}

/* Applied to body tag, via javascript, on change of lightbox checkbox, to prevent background scroll */
.lightbox_open {
  /* TODO get rid of this when the JS that addes this class is removed as truly not needed */
  overflow: hidden;
}
