@import "./variables";

.summary {
  //padding: 5px 0;
  color: $color__body-text-accent;
  font-size: 12px;
  margin-top: 15px;
}

.pagination {
  margin: 15px 0 0;
  //padding-top: 15px;
  font-size: 0; /* Later set on actual pages, but this prevents the weird bottom space */
}

.summary, .pagination {
  display: block;
  width: 100%;
  text-align: center;
}


.pagination > li > a,
.pagination > li > span {
  //border: none;
  //font-size: 12px;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  //background: none;
  //color: $color-scheme-default; /* Overridden below by color-schemes */
  //font-weight: 700;
}

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  //color: #CCCCCC;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  //background: none;
}

.pagination li {
  //display: inline-block;
}

/* Color schemes */
@each $name, $color in $color-schemes {
  .color-scheme__#{$name} {
    .pagination > li > a,
    .pagination > li > span {
      color: $color;
    }
    .pagination > .active > a,
    .pagination > .active > span,
    .pagination > .active > a:hover,
    .pagination > .active > span:hover,
    .pagination > .active > a:focus,
    .pagination > .active > span:focus {
      color: #fff; /* Since color will be set above */
      background-color: $color;
      border-color: darken($color, 5%);
    }
  }
}

@media screen and (min-width: $responsive-breakpoint) {
  /* Remove spacing from mobile that prevents summary and pagination from getting too close */
  .pagination {
    padding-top: 0;
  }
}
