@import "./variables";
@import "./color-schemes";
@import "./mixins";
/* 2017-05-13 Done */

.header {
  height: $header-height;
  background-color: $color-scheme-default;
  color: $color__header-text;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  &__body {

  }
  &__title {
    display: inline-block;
    font-size: 18px;
    margin: 10px 0 0 15px;
    white-space: nowrap;
  }
  &__breadcrumb {
    color: $color__header-breadcrumb;
    font-size: 12px;
    margin: 8px 0 0 15px;
    &-list {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    &-item {
      display: inline-block;
      & a {
        color: $color__header-breadcrumb;
        text-decoration: none;
      }
    }
    &-separator {
      color: $color__header-breadcrumb;
      font-size: 12px;
      padding: 0 5px;
    }
    //a, a:active, a:focus, a:hover, a:visited {
    //  color: $color__body-text;
    //  text-decoration: none;
    //}
  }
  &__sidebar-toggle {
    position: absolute;
    right: 10px;
    top: 10px;
    @include background-color-lighten(0.2);
    border-radius: 50%;
    width: 36px;
    height: 36px;
    &:hover {
      cursor: pointer;
      @include background-color-darken(0.1);
    }
    &-icon {
      @include color-darken(0.4);
      font-size: 14px;
      padding: 11px 12px 9px;
      width: 12px;
      height: 16px;
    }
  }
}

@media screen and (min-width: $responsive-breakpoint) {
  .header {
    &__body {
      margin-left: 240px;
    }
    &__sidebar-toggle {
      display: none;
    }
  }
}

/* Color schemes */
@each $name, $color in $color-schemes {
  .color-scheme__#{$name} {
    .header { background-color: $color; }
  }
}
