/* 2017-05-21 WIP */
@import "variables";
@import "color-schemes";

.table {
  thead {
    text-transform: uppercase;
    //font-weight: 400;
    color: $color__body-text;
    font-size: 12px;
    font-weight: 600;
    a {
      color: $color__body-text;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
      &.asc:after, &.desc:after {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f105";
        padding: 0 4px;
        height: 16px;
        vertical-align: middle;
      }
      &.asc:after {
        content: "\f106";
      }
      &.desc:after {
        content: "\f107";
      }
    }
  }
  tbody {
    .selected {
      background-color: $color__body-background;
    }
    a {
      color: $color__body-text;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
    .primary {
      font-size: 16px;
      display: inline-block;
      padding: 0 0 2px;
    }
    .primary_note {
      color: $color__body-text-accent;
      padding-left: 5px;
      font-size: 12px;
      text-transform: lowercase;
    }
    .secondary {
      color: $color__body-text-accent;
      font-size: 12px;
    }
    .secondary-accent {
      font-style: italic;
    }
  }
}
.table-avatar-first-column {
  & th:first-child, & td:first-child {
    width: 66px; /* 50px image plus 8+8 padding */
  }
}
.grid-view_subgrid.table-avatar-first-column {
  & th:first-child, & td:first-child {
    width: 36px; /* 20px image plus 8+8 padding */
  }
}

/* Originally pulled from Bootstrap 3 but then heavily reduced and tweaked */
//caption {
//  padding-top: 8px;
//  padding-bottom: 8px;
//  color: #777777;
//  text-align: left;
//}
th {
  text-align: left;
  white-space: nowrap;
}
.table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  border-top: 1px solid #ddd;
}
.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 1px solid #ddd;
}
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > tbody:first-child > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > tbody:first-child > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
  border-top: 0;
}
.table-hover > tbody > tr:hover {
  background-color: #f5f5f5;
}
.table-responsive > .table__wrap{
  overflow-x: auto;
  min-height: 0.01%;
}
@media screen and (max-width: #{$responsive-breakpoint}) {
  .table-responsive > .table__wrap {
    width: 100%;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
  .table-responsive > .table__wrap > .table > thead > tr > th,
  .table-responsive > .table__wrap > .table > tbody > tr > th,
  .table-responsive > .table__wrap > .table > tfoot > tr > th,
  .table-responsive > .table__wrap > .table > thead > tr > td,
  .table-responsive > .table__wrap > .table > tbody > tr > td,
  .table-responsive > .table__wrap > .table > tfoot > tr > td {
    white-space: nowrap;
  }
}
