@import "./variables";
/* 2017-05-14 Done, cleanup help button? */

/* Entire action bar wrapper */
.action-bar {
  position: fixed;
  top: $header-height;
  left: 0;
  right: 0;
  height: $action-bar-height;
  background-color: $color__action-bar-background;
  border-top: 1px solid $color__action-bar-border;
  border-bottom: 1px solid $color__action-bar-border;
}
/*
 * This class exists on page render but is removed via admin.js on page ready. Hiding overflow prevents buttons from
 * wrapping and appearing outside/below the action bar before Flexmenu kicks in. The class is removed because with
 * overflow hidden, the Flexmenu menu will not be shown (as it drops down outside of the action bar).
 */
.action-bar_overflow-hidden-on-load {
  overflow-y: hidden;
}

/* Container that wraps individual groups. Used for positioning and swapping visibility of groups. */
.action-bar__container {
  height: $action-bar-height - 2px; /* Minus 2 for top and bottom border on .action-bar */
  //position: relative;
  //overflow-y: hidden;
}
/*
 * Group of buttons (that will be in a UL element) and are all positioned above the bar by default. This transition
 * applies to all elements and will be applied when the active class is removed. Transition is divided by two so that
 * the sliding up of one group and sliding down of another takes the full, normal, transition time.
 */
.action-bar__group {
  height: $action-bar-height - 2px; /* Minus 2 for top and bottom border on .action-bar */
  position: absolute; /* To forcible set "top" property which slides groups up and down */
  top: -($action-bar-height - 1px); /* Minus 1 for top border on .action-bar */
  left: 0;
  right: 46px; /* Spacing for help button */
  transition: all ($transition-duration / 2) $transition-timing-function;
}
/*
 * The active button group. Adding a transition delay here will result in an animation where only one the old group
 * has completed transiton will the new group be brought into view.
 */
.action-bar__group_active {
  top: 0;
  transition-delay: ($transition-duration / 2);
}

/* UL element */
.action-bar__list {
  position: relative;
  top: 0;
  list-style: none;
  //margin: 0 46px 0 0;
  margin: 0;
  padding: 0;
  height: $action-bar-height - 2px; /* Minus 2 for top and bottom border on .action-bar */
  font-size: 0; /* Remove the space between each child item (who then reset their own font size) */
}

/* LI element */
.action-bar__list-item {
  display: inline-block;
  white-space: nowrap;
  &-link, &-label, &-button, .flexMenu-viewMore a {
    display: block;
    color: $color__action-bar-text;
    font-size: 14px;
    padding: 14px 10px;
    line-height: 20px;
    &:hover {
      background-color: $color__action-bar-background-hover;
      color: $color__action-bar-text-hover;
    }
    &-text {
      padding-left: 5px;
    }
    &.disabled {
      pointer-events: none;
      color: $color__action-bar-text-disabled;
    }
  }
  &-link {
    text-decoration: none;
  }
  &-label {
    cursor: pointer;
  }
  &-button {
    background: none;
    border: none;
    cursor: pointer;
  }
}

/* Help Button */
.action-bar__help {
  position: absolute;
  top: 0;
  right: 0;
  & .action-bar__list-item-button {
    padding: 14px;
  }
}

/* Flexmenu */
.flexMenu-viewMore {
  @extend .action-bar__list-item;
  a {
    @extend .action-bar__list-item-link;
  }
}

.flexMenu-popup {
  background-color: $color__action-bar-background;
  padding: 0;
  border: 1px solid $color__action-bar-border;
  border-top: none;
  li {
    display: block;
  }
}
