@import "variables";
@import "color-schemes";
/* 2017-05-13 WIP */

.avatar {
  //width: 50px; /* Set via size parameter in call to getAvatar() */
  //height: 50px; /* Set via size parameter in call to getAvatar() */
  border-radius: 50%;
  position: relative;
}
.avatar__text {
  background-color: $color-scheme-default;
  @extend .noselect; /* To prevent selection of the avatar text */
  cursor: default; /* To prevent the standard text selection handlebars */
}
.avatar__img {
  object-fit: cover;
}
.avatar__check {
  background-color: $color__body-text;
}
.avatar__text,
.avatar__img,
.avatar__check {
  //width: 50px; /* Set via size parameter in call to getAvatar() */
  //height: 50px; /* Set via size parameter in call to getAvatar() */
  border-radius: 50%;
  position: absolute;
  //line-height: 50px; /* Set via size parameter in call to getAvatar() */
  text-align: center;
  color: #FFF;
  //font-size: 25px; /* Set via size parameter divided by 2 in call to getAvatar() */
}

/* If an image is present, hide the text (and background) since it will kind of show around the edge of the image. */
.avatar__img + .avatar__text {
  display: none;
}

/*
 * If the table allows for selectable avatars, change the avatar cursor to a pointer when hovered.
 * Just making .avatar selectable doesn't seem to work then the avatar is text. So, using the more specific child
 * selectors.
 */
.table-selectable_avatar {
  .avatar__img,
  .avatar__text,
  .avatar__check {
    &:hover {
      cursor: pointer;
    }
  }
}

/*
 * Flippable avatars for selection of records on index pages
 * http://learn.shayhowe.com/advanced-html-css/transitions-animations/ (see "Card Flip" section)
 */
.avatar-flip-wrap {
  width: 50px;
  height: 50px;
  perspective: 150px; /* Not entirely sure how this works, but, lower numbers seem to really distort the animation */
  position: relative;
}
.grid-view_subgrid .avatar-flip-wrap {
  width: 20px;
  height: 20px;
}
.avatar-flip {
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: all $transition-duration $transition-timing-function;
  width: 100%;
}
/* When the checkbox is checked, rotate the avatar */
.avatar-flip-wrap input[type=checkbox]:checked + .avatar-flip {
  transform: rotateY(180deg);
}
/* Applies to both the front and back sides of the avatar flip */
.avatar-flip-side {
  backface-visibility: hidden;
  height: 100%;
  position: absolute;
  width: 100%;
}
/* Applies to only the back side of the avatar flip */
.avatar-flip-back {
  transform: rotateY(180deg);
  font-size: 0;
}

/* Color schemes */
@each $name, $color in $color-schemes {
  .color-scheme__#{$name} {
    .avatar {
      &__text {
        background-color: $color;
      }
    }
  }
}
