@import "variables";
@import "color-schemes";
/*
 * Copied from Bootstrap 3
 *
 * Contains customizations are end
 */
.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  //border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus,
.btn.focus {
  color: #333;
  text-decoration: none;
}
.btn:active,
.btn.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  cursor: not-allowed;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}
a.btn.disabled,
fieldset[disabled] a.btn {
  pointer-events: none;
}
.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.btn-default:focus,
.btn-default.focus {
  color: #333;
  background-color: #e6e6e6;
  border-color: #8c8c8c;
}
.btn-default:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-default:active:hover,
.btn-default.active:hover,
.open > .dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open > .dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open > .dropdown-toggle.btn-default.focus {
  color: #333;
  background-color: #d4d4d4;
  border-color: #8c8c8c;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus {
  background-color: #fff;
  border-color: #ccc;
}
.btn-default .badge {
  color: #fff;
  background-color: #333;
}
.btn-link {
  color: #337ab7;
  font-weight: normal;
  //border-radius: 0;
}
.btn-link,
.btn-link:active,
.btn-link.active,
.btn-link[disabled],
fieldset[disabled] .btn-link {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active {
  border-color: transparent;
}
.btn-link:hover,
.btn-link:focus {
  color: #23527c;
  text-decoration: underline;
  background-color: transparent;
}
.btn-link[disabled]:hover,
fieldset[disabled] .btn-link:hover,
.btn-link[disabled]:focus,
fieldset[disabled] .btn-link:focus {
  color: #777777;
  text-decoration: none;
}
.btn-lg,
.btn-group-lg > .btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  //border-radius: 6px;
}
.btn-sm,
.btn-group-sm > .btn {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  //border-radius: 3px;
}
.btn-xs,
.btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  //border-radius: 3px;
}
.btn-block {
  display: block;
  width: 100%;
}
.btn-block + .btn-block {
  margin-top: 5px;
}
input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%;
}


/*
 * BLOG CUSTOMIZATIONS
 *
 * Form customizations
 */

/* Single buttons will be centered, multiple buttons wil stil be centered but with spacing */
.btn-list .btn:not(:first-child) {
  margin-left: 5px;
}

/* Button that matches the color scheme */
/* Color schemes */
@each $name, $color in $color-schemes {
  .color-scheme__#{$name} {
    .btn-scheme {
      color: #fff;
      background-color: $color;
      border-color: darken($color,5%);
    }
    .btn-scheme:focus,
    .btn-scheme.focus {
      color: #fff;
      background-color: darken($color,15%);
      border-color: darken($color,20%);
    }
    .btn-scheme:hover {
      color: #fff;
      background-color: darken($color,10%);
      border-color: darken($color,15%);
    }
    .btn-scheme:active,
    .btn-scheme.active,
    .open > .dropdown-toggle.btn-scheme {
      color: #fff;
      background-color: darken($color,15%);
      border-color: darken($color,20%);
    }
    //.btn-scheme:active:hover,
    //.btn-scheme.active:hover,
    //.open > .dropdown-toggle.btn-scheme:hover,
    //.btn-scheme:active:focus,
    //.btn-scheme.active:focus,
    //.open > .dropdown-toggle.btn-scheme:focus,
    //.btn-scheme:active.focus,
    //.btn-scheme.active.focus,
    //.open > .dropdown-toggle.btn-scheme.focus {
    //  color: #fff;
    //  background-color: #204d74;
    //  border-color: #122b40;
    //}
    //.btn-scheme:active,
    //.btn-scheme.active,
    //.open > .dropdown-toggle.btn-scheme {
    //  background-image: none;
    //}
    //.btn-scheme.disabled:hover,
    //.btn-scheme[disabled]:hover,
    //fieldset[disabled] .btn-scheme:hover,
    //.btn-scheme.disabled:focus,
    //.btn-scheme[disabled]:focus,
    //fieldset[disabled] .btn-scheme:focus,
    //.btn-scheme.disabled.focus,
    //.btn-scheme[disabled].focus,
    //fieldset[disabled] .btn-scheme.focus {
    //  background-color: #337ab7;
    //  border-color: #2e6da4;
    //}
    //.btn-scheme .badge {
    //  color: #337ab7;
    //  background-color: #fff;
    //}
  }
}
