@mixin background-color-lighten($alpha) {
  background-color: rgba(255, 255, 255, $alpha)
}

@mixin background-color-darken($alpha) {
  background-color: rgba(0, 0, 0, $alpha)
}

@mixin color-lighten($alpha) {
  color: rgba(255, 255, 255, $alpha)
}

@mixin color-darken($alpha) {
  color: rgba(0, 0, 0, $alpha)
}
