@import "variables";

/* Force item to be hidden */
.hidden {
  display: none !important;
}

/* anchor tags without an href property seem to not have a point on hover */
a {
  cursor: pointer;
}

/* If a link is disabled, it should not be allowed to become the target of mouse events */
a.disabled {
  pointer-events: none;
}

/* Change default weight of bold items */
b, strong {
  font-weight: $weight-bold;
}

/* Labels are same bold weight. Maybe change in the future but for now keeping font list small */
form label {
  font-weight: $weight-bold;
}

/* Round corners of image into a circle */
.img-circle {
  border-radius: 50%;
}

/* Only allow image to grow up to parent container width */
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Form groups, for example the lock icon on post slug */
.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group > .btn, .input-group-btn:first-child > .dropdown-toggle, .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle), .input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

/* For values, in a detail view, that do not have data */
.not-set {
  color: $color__body-text-accent;
  font-style: italic;
  white-space: nowrap;
}

/**
 * Images
 */
/* More modern way to make a thumbnail on-the-fly. Not supported in IE/Edge, but oh well */
.center-and-crop {
  object-fit: cover;
}

/* Sizing to be used with center-and-crop class */
.full-width-height {
  width: 100%;
  height: 100%;
}

.square-150 {
  width: 150px;
  height: 150px;
}

.square-100 {
  width: 100px;
  height: 100px;
}

.square-50 {
  width: 50px;
  height: 50px;
}

/* https://spin.atomicobject.com/2015/07/14/css-responsive-square/ */
.square {
  position: relative;
}

.square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.square > .square-content {
  position: absolute;
  width: 100%;
  height: 100%;
}

/*
 * Currently used on user invite modal for errors, but anywhere else?
 */
.error-summary {
  color: $color__error;
  background: $color__error-light;
  border-left: 3px solid $color__error;
  padding: 10px 20px;
  margin: 0 0 15px 0;
}
/*
 * Used on image view page to show image variations that are too large or missing.
 */
.warning-summary {
  color: $color__warning;
  background: $color__warning-light;
  border-left: 3px solid $color__warning;
  padding: 10px 20px;
  margin: 0 0 15px 0;
}

/*
 * Separate hint block slightly from the field.
 * .hint-block is on standard Yii forms, .help-block is only on bootstrap forms.
 * Currently only slug on post edit (I think)
 */
.hint-block, .help-block {
  display: block;
  margin-top: 5px;
  color: $color__body-text-accent;
}

/*
 * Clearfix taken from Bootstrap 3
 */
.clearfix:before,
.clearfix:after,
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-header:before,
.modal-header:after,
.modal-footer:before,
.modal-footer:after {
  content: " ";
  display: table;
}

.clearfix:after,
.dl-horizontal dd:after,
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.panel-body:after,
.modal-header:after,
.modal-footer:after {
  clear: both;
}

/* Disable text selection (used on index page avatars that are clickable items) */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

/* Wrap text of a pre element (e.g. content on injection view page) */
.pre-wrap { white-space: pre-wrap; }
