$transition-duration: .25s;
$transition-timing-function: ease-in-out;
$header-height: 60px;
$sidebar-width: 240px;
$action-bar-height: 50px;
$responsive-breakpoint: 544px;
$weight-standard: 400;
$weight-bold: 700;

/* Default color scheme */
$color-scheme-default: #1976D2; /* Blue 700 */

/* Colors */
$color__error: #B71C1C; /* Red 900 */
$color__error-light: #FFEBEE; /* Red 50 */
$color__warning: #FB8C00; /* Orange 600 */
$color__warning-light: #FFF3E0; /* Orange 50 */
$color__success: #1B5E20; /* Green 900 */
$color__success-light: #E8F5E9; /* Green 50 */

/* Body */
$color__body-background: #EEEEEE; /* Grey 200 */
$color__body-text: #616161; /* Grey 700 */
$color__body-text-accent: #BDBDBD; /* Grey 400 */

/* Header */
$color__header-text: #FFFFFF;
$color__header-breadcrumb: #FFFFFF;

/* Sidebar */
$color__sidebar-brand_text: #FFFFFF;
$color__sidebar-background: #343c49; /* adminox */
$color__sidebar-text: rgba(255, 255, 255, 0.6); /* admonix */
$color__sidebar-background_active: #2f3642; /* adminox */
$color__sidebar-text_active: #FFFFFF; /* adminox */

/* Panel */
$panel-header-height: 50px;
$color__panel-header-background: #FAFAFA; /* Grey 50 */
$color__panel-header-text: $color__body-text;
$color__panel-body-background: #FFFFFF;
$color__panel-body-text: $color__body-text;
$color__panel-border: #E0E0E0; /* Grey 300 */

/* Action Bar */
$color__action-bar-border: #E0E0E0; /* Grey 300 */
$color__action-bar-background: #FAFAFA; /* Grey 50 */
$color__action-bar-text: #999999;
$color__action-bar-background-hover: #eee;
$color__action-bar-text-hover: #333;
$color__action-bar-text-disabled: #E0E0E0; /* Grey 300 */
