.action-bar {
  z-index: 100;
}

.header {
  z-index: 200;
}

/* The full width/height div that includes the content and the backdrop */
.sidebar {
  z-index: 900;
  /* Just the content, not the checkbox or backdrop */
  &__content {
    z-index: 910;
  }
  /* Just the backdrop behind the sidebar content -- way to the back at first*/
  &__backdrop {
    z-index: -1;
  }
  /* Backdrop brough to the front, just behind the sidebar content, when sidebar is visible */
  &__state:checked ~ .sidebar__backdrop {
    z-index: 905;
  }
}

.lightbox {
  z-index: 900;
}


/* Place the fullscreen enditor on top of everything (heading and sidebar) */
.editor-toolbar.fullscreen,
.CodeMirror-fullscreen,
.editor-preview-side {
  z-index: 990 !important;
}
